<%= render "partials/nav" %>

<div class="drop-box" jqyoui-droppable="{onDrop: 'unArchive()'}" data-drop="true" >

  <%= render "partials/archive" %>

  <div class="row">
    <div ng-repeat="sticky in stickies | filter:{archive: false} | filter:searchSticky | orderBy:'updated_at':true">

      <div class="col-sm-3 sticky-grid" >

        <div class="sticky-note" ng-dblclick="editForm(sticky)" ng-mousedown="focusSticky(sticky)" ng-class="{'sticky-shadow': sticky.stickyShadow}" ng-style="{position: 'static', margin: '10px auto'}" >

          <form ng-submit="editSticky(sticky)" >

            <h3 class="sticky-title" ng-hide="sticky.hiddentext">{{sticky.title}}
              <span class="glyphicon glyphicon-remove x-sticky" ng-click="archive(sticky)"></span>
            </h3>

            <h3 class="sticky-title" ng-show="sticky.hiddentext">
              <input type="text" class="title" autofocus ng-model="sticky.title" />
            </h3>

            <div class="divider"></div>
            <p class="sticky-body" ng-hide="sticky.hiddentext">{{sticky.body}}</p>
            <textarea class="body" ng-model="sticky.body" ng-show="sticky.hiddentext"></textarea>
          </form>

        </div>

      </div>
      
    </div>

  </div>


</div>