// Place all the styles related to the stickies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.drop-box {
  height: 100vh;
}

.sticky-shadow {
  -moz-box-shadow: 0px 0px 15px 5px #888888;
  -webkit-box-shadow: 0px 0px 15px 5px #888888;
  box-shadow: 0px 0px 15px 5px #888888;
}

.navbar.navbar-default {
  margin-bottom: 0px;  
}

.archive-sticky-title {
  width: 244px;
  margin: 0;
  padding: 10px;
  border-top: 3px solid black;
}

.archive-sticky.archive-collapse {
  width: 0px;
  border: 0px solid black;
}

.archive-sticky {
  width: 244px;
  float: right;
  background-color: #f8f8f8;
  position: relative;
  border: 3px solid black;
  border-top: none;
  z-index: 99;
  overflow: hidden;
  -webkit-transition: width 0.35s ease, border .5s ease;
  -moz-transition: width 0.35s ease, border .5s ease;
  -o-transition: width 0.35s ease, border .5s ease;
  transition: width 0.35s ease, border .5s ease;
}

.x-sticky {
  float: right;
  margin-right: 5px; 
}

.x-sticky:hover {
  cursor: pointer;
}

.sticky-note {
  height: 250px;
  width: 250px;
  border: 3px solid black;
  position: absolute;
  background-color: yellow;
  z-index: 0;
}

.sticky-title {
  margin: 10px auto;
  text-align: center;
}

.sticky-body {
  margin: 10px 5px;
  height: 180px;
  overflow: scroll;
}

div.divider {
  border-bottom: 3px solid black;
  height: 0;
}

input.title {
  text-align: center;
  border: none;
  outline: none;
  width: 244px;
}

textarea.body {
  height: 180px;
  width: 234px;
  margin: 10px 5px;
  border: none;
  outline: none;
}
