// Place all the styles related to the stickies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav.navbar.navbar-default {
  z-index: 700;
}

.sticky-grid {
  border: 1px solid rgb(187, 195, 195);
}

.sticky-note-list.sticky-note-list-open {
  height: 250px;
}

.sticky-note-list {
  height: 50px;
  width: 60%;
  border: 3px solid black;
  position: absolute;
  background-color: rgba(208, 228, 227, 0.97);
  z-index: 0;
  border-radius: 15px;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}


.btn.destroy {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.form-img {
  width: 500px;
  margin: 0 auto;
}

.sticky-img {
  float: left;
  height: 250px;
  margin-top: 25px;
}

.form-box {
  width: 200px;
  float: left;
}

.sign-up-in {
  text-align: center;
  font-size: 24px; 
}

.headline {
  text-align: center;
  font-size: 36px;
  font-family: 'Candal', sans-serif;
}

.input-margin {
  margin-bottom: 10px;
}

.body {
  background-color: #dcdcdc;
}

.navbar.navbar-default {
  background-color: #1f4f58;
  border-color: #3893a5;
}

.navbar-default .navbar-nav>li>a {
  color: #71ccd2;
}

.navbar-default .navbar-nav>li>a:hover {
  color: white;
}

.navbar.navbar-default a {
  color: #71ccd2;
  font-family: 'Candal', sans-serif;
}

.navbar.navbar-default a:hover {
  color: white;
}

.btn-default {
  color: white;
  background-color: #2c797e;
}

.btn-default:hover {
  background-color: white;
  color: #2c797e;
}

.drop-box {
  height: 100vh;
}

.sticky-shadow {
  -moz-box-shadow: 0px 0px 15px 5px #888888;
  -webkit-box-shadow: 0px 0px 15px 5px #888888;
  box-shadow: 0px 0px 15px 5px #888888;
}

.navbar.navbar-default {
  margin-bottom: 0px;  
}

.archive-container {
  height: 250px;
  overflow: scroll;
  width: 245px;
  border-bottom: 3px solid black;
}

.archive-sticky-title {
  width: 244px;
  margin: 0;
  padding: 10px;
  border-top: 3px solid black;
  font-family: 'Nothing You Could Do', cursive;
}

.archive-sticky > h1 {
  font-family: 'Candal', sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  width: 244px;
}

.signout > h1{
  font-family: 'Candal', sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  width: 244px;
}

.archive-sticky.archive-open {
  width: 244px;
  border: 3px solid black;
  border-top: none;
}

.archive-sticky {
  width: 0;
  right: 0;
  background-color: #f8f8f8;
  position: absolute;
  border: none;
  z-index: 99;
  overflow: hidden;
  -webkit-transition: width 0.35s ease, border .5s ease;
  -moz-transition: width 0.35s ease, border .5s ease;
  -o-transition: width 0.35s ease, border .5s ease;
  transition: width 0.35s ease, border .5s ease;
}

.x-sticky {
  float: right;
  margin-right: 5px; 
}

.x-sticky:hover {
  cursor: pointer;
}

.sticky-note {
  height: 250px;
  width: 250px;
  border: 3px solid black;
  position: absolute;
  background-color: rgba(208, 228, 227, 0.97);
  z-index: 0;
  border-radius: 15px;
}

.sticky-note h3 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 28px;
}

.sticky-title {
  margin: 10px auto;
  text-align: center;
}

.sticky-body {
  margin: 10px 5px;
  height: 180px;
  overflow: scroll;
}

div.divider {
  border-bottom: 3px solid black;
  height: 0;
}

input.title {
  text-align: center;
  border: none;
  outline: none;
  width: 244px;
  background-color: #F0FCFB;
}

textarea.body {
  height: 165px;
  width: 98%;
  margin: 10px 5px;
  border: none;
  outline: none;
  background-color: #F0FCFB;
}
