<%= render 'partials/nav' %>
<div class="archive-sticky" ng-class="{'archive-collapse': collapseArchive}">
  <div ng-repeat="stick in sticks | filter:{archive: true}">
    <h3 class="archive-sticky-title">{{stick.title}}</h3>
  </div>
</div>

<div ng-repeat="sticky in stickies | filter:{archive: false}">
  <div class="sticky-note" ng-dblclick="editSticky(sticky)" ng-style="{ top: sticky.top, left: sticky.left, 'z-index': sticky.zIndex }" drag-me="" ng-mouseup="letGoSticky(sticky, $index)" ng-mousedown="focusSticky(sticky)" ng-class="{'sticky-shadow': sticky.stickyShadow}" >

    <form ng-submit="changeContent(sticky)" >

      <h3 class="sticky-title" ng-hide="sticky.hiddentext">{{sticky.title}}
        <span class="glyphicon glyphicon-remove x-sticky" ng-click="archive(sticky)"></span>
      </h3>

      <h3 class="sticky-title" ng-show="sticky.hiddentext">
        <input type="text" class="title" autofocus ng-model="stickies.titlechange" />
      </h3>

      <div class="divider"></div>
      <p class="sticky-body" ng-hide="sticky.hiddentext">{{sticky.body}}</p>
      <textarea class="body" ng-model="stickies.bodychange" ng-show="sticky.hiddentext"></textarea>
    </form>

  </div>
</div>