<%= render 'partials/nav' %>
<div ng-repeat="sticky in stickies">
  <div class="sticky-note">
    <h3>{{sticky.title}}<span class="archive-sticky">Close</span></h3>
    <p>{{sticky.body}}</p>
  </div>
</div>